@using TMS.Models.PasswordModels
@model ConfirmAndSetPasswordViewModel

@{
    ViewData["Title"] = "Confirm Email & Set Password";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ConfirmAndSetPassword" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Token" />

    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
